footer{
  padding: $padding;
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  background: $cardBackground;
  .logoFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    .logo{
      display: flex;
      align-items: center;
      gap: 15px;
      img{
        width: 45px;
      }
      h1{
        font-size: 14pt;
        color: #fff;
      }
    }
    .socialMedias{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      width: 100%;

      i:hover{
        cursor: pointer;
        color: $ciano;
        transition: all ease 500ms;
      }
    }
  }
  .ulDivs{
    h1{
      font-size: 14pt;
      margin-bottom: 10px;
    }
    ul{
      display: flex;
      flex-direction: column;
      gap: 5px;
      li{
        font-size: 13pt;
      }
      li:hover{
        color: $ciano;
        cursor: pointer;
      }
    }
  }

  @media (max-width:$tablet){
    .logoFooter{
      .description{
        display: none;
      }
    }

    .ulDivs{
      display: none;
    }
  }
}