@import '../responsive/mediasQueries/respFooter';
@import '../effects/hooverEffects';
footer{
  padding: 35px 100px;
  background-color: #0D1D45; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logoFooter{
    padding: 15px 0;
    margin-bottom: 5px;
    .logo{
      display: flex;
      align-items: center;
      padding: 25x 0;
      h1{
        color: #fff;
        font-size: 18pt;
      }
      img{
        width: 35px;
        margin-right: 15px;
      }
    }
    .description{
      color: #fff;
      padding: 15px 0;
      font-size: 14pt;
    }
    .socialMedias{
     i{
       color: #fff;
       margin-right: 25px;
       &:hover{
         color: $ciano;
         cursor: pointer;
       }
     }
     i:last-child{
       margin-right: 0;
     }
    }
  }
   .ulDivs:last-child{
    margin-top: 0;
  }
  #ulDivFirst{
    margin-top: 15px;
    
  }
  .ulDivs{
    align-self: center;
    margin-top: 40px;
    @include ulEffects;
    h1{
      color: #fff;
      align-self: center;
      font-size: 18pt;
    }
    ul{
      list-style: none;
      li{
        color: #fff;
        padding: 5px 0;
        font-size: 13pt;
      }
    }
 }
}


@media screen and (max-width:768px) {
  @include tablet;
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  @include displayHD;
}
@media screen and (min-width: 1920px) {
  @include displayFullHD;
}