@import '../utilities/assets';
@import '../responsive/mediasQueries/respLogos';
.logos{
  p{
    font-size: 16pt;
    color: #fff;
    opacity: 0.7;
    font-weight: 600;
  }
  .socialMedias{
    padding: 25px 0;
    display: flex;
    align-items: center;
    img{
      margin-right: 25px;
      opacity: 0.5;
    }
  }
}

@media screen  and (max-width : 395px){
  @include phone;
}

@media screen and (min-width : 395px) and (max-width : 1280px) {
  @include tablet;  
}