@mixin card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: red;
  width: 400px;
  height: 200px;
  border-radius: 4px;
  padding: 45px 45px;
  background: $cardBackground;
  -webkit-box-shadow: 3px 3px 15px -12px rgba(1,2,10,0.64); 
  box-shadow: 3px 3px 15px -12px rgba(1,2,10,0.64);

@media (max-width:$tablet){
  width: 350px;
}

@media (max-width:$smartphone){
  width: 300px;
}
}