$preto : #01020A;
$cinzaClaro : #CBD4EC;
$cinzaEscuro : #2A334C;
$ciano : #00F7B9;
$cinzaEscuroDois : #a4a5a7;
$cinzaClaroDois : #9FA1AD;
$verdeEscuro : #367980;
$background : #0C1234 ;
$backgroundCode : #051726;
$cardBackground :#0D1D45;
$fonteDeTexto : 'Noto Sans Display', sans-serif;
$padding :  25px 150px;
$paddingMobile :  25px 50px;
