@import '../../utilities/assets';
@mixin tablet {
  footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .logoFooter{
      .logo{
        padding: 25px 0;
      }
    }
    .description{
      display: none;
    }
    .ulDivs{
      display: none;
    }
  }
}
@mixin displayHD{
  footer{
    display: flex;
    padding: 0 25px;
  }
}

@mixin displayFullHD{
  footer{
    padding: 5px 150px;
  }
}
