@import '../../utilities/assets';

@mixin phone {
  .logos{
      
    p{
      font-size: 16pt;
      padding-right: 15px;
      text-align: center;
    }
    .socialMedias{
      display: flex;
      flex-direction: column;
      img{
        width: 55px;
        padding: 15px 5px;
      }
  }
  }
}

@mixin tablet {
  p{
    text-align: center;
  }
  .logos{
    .socialMedias{
      @include centerColumnFlex;
      img{
       padding-bottom: 15px;
      }
    }
  }
}
