@import '../../utilities/assets';

@mixin phone{
  .firstSection{
    @include centerColumnFlex;
    article{
      h1{
        font-size: 28pt;
      }
      button{
        width: 150px;
        font-size: 14pt;
      }
    }
    .box{
      display: none;
    }
  }
}

@mixin tablet{
  .firstSection{
    text-align: center;
    @include centerColumnFlex;
  article{
    @include centerColumnFlex;
    h4{
      font-size: 11pt;
    }
    h1{
      font-size: 28pt;
    }
    button{
      width: 200px;
      font-size: 13pt;
    }
    .box{
      box-sizing: border-box;
      width: 300px;
      font-size: 7pt;
      margin-top: 25px;     
    }
    
  }
}
}

@mixin display{
  .firstSection{
    article{
      h1{
        font-size: 46pt;
      }
    }

    .box{
      box-sizing: border-box;
      width: 450px;
      font-size: 12pt;
      margin-top: 25px;     
    }
  }
}

